.MMM-OneCallWeather {
  .day,
  .max-temp,
  .min-temp,
  .wind-speed {
    text-align: center;
  }

  .colored > .max-temp {
    color: #ff5f5f;
  }

  .colored > .min-temp {
    color: #5f5fff;
  }

  .weathericon {
    align-items: center;
    display: flex;
    float: left;
    height: 4rem;
    justify-content: center;
    width: auto;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
  }

  .weather-icon > span > img {
    min-width: 2rem;
    margin: 0 0.1rem;
  }

  .large-weather-icon-container,
  .wind-container {
    text-align: center;
  }

  /* Wind badge: icon + centered value */
  .wind-badge {
    position: relative;
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    line-height: 1;
  }

  .wind-badge .wind-disc {
    width: 100%;
    height: 100%;
    display: block;
  }

  .wind-badge .wind-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    font-weight: 700;
    font-size: 0.95em;
    color: #111;
    -webkit-text-stroke: 0.5px #fff;
    text-shadow:
      0 0 3px rgb(255 255 255 / 85%),
      0 0 6px rgb(255 255 255 / 65%);
  }

  /* Size adjustments based on table class */
  .small .wind-badge {
    width: 2.1em;
    height: 2.1em;
  }

  .medium .wind-badge {
    width: 2.4em;
    height: 2.4em;
  }

  .large .wind-badge {
    width: 2.8em;
    height: 2.8em;
  }

  .small .wind-badge .wind-value {
    font-size: 0.9em;
  }

  .medium .wind-badge .wind-value {
    font-size: 0.95em;
  }

  .large .wind-badge .wind-value {
    font-size: 1.05em;
  }
}
