.MMM-OneCallWeather {
  .day,
  .max-temp,
  .min-temp,
  .wind-speed {
    text-align: center;
  }

  .colored > .max-temp {
    color: #ff5f5f;
  }

  .colored > .min-temp {
    color: #5f5fff;
  }

  .weathericon {
    align-items: center;
    display: flex;
    float: left;
    height: 4rem;
    justify-content: center;
    width: auto;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
  }

  .weather-icon > span > img {
    min-width: 2rem;
    margin: 0 0.1rem;
  }

  .large-weather-icon-container,
  .wind-container {
    text-align: center;
  }

  .wind-speed {
    color: black;
    position: relative;
    top: -58px;
  }
}
